apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: backend-cert
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  secretName: backend-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: api-backend.election.com
  dnsNames:
  - api-backend.election.com